.App {
  text-align: center;
}


.App-header {
  background-color: rgb(34, 32, 32, 0.7);
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a, a:visited, a:hover, a:active {
  display: inline;
  width: 100%;
  text-decoration: none;
  color: inherit;
}


h2 {
  font-size: calc(10px + 2vmin);
  color: rgb(34, 32, 32, 0.7);
}

.dropdown {
  width: 20%;
}

.menu {
  width: 100%;
}
